<div class="container" style="background-color: #d9d9d9;">
    <div class="box box-one">
        <i class="bi bi-twitter-x" style="color:black;font-size:4vh"></i>
    </div>
   
    <div class="box box-two">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "@email" %>
            <%= f.password_field :password, autocomplete: "current-password", placeholder: "password" %>
            
            <% if devise_mapping.rememberable? %>
                <%= f.check_box :remember_me, style:"width:15px;height:14px;" %>
                <%= f.label :remember_me %>
            <% end %>
            <div class="actions">
                <%= f.submit "Log in", class:"next-btn" %>
            </div>
        <% end %>
    </div>
    <p style="font-size:16px;margin-top:-20px;" >Don't have an account <a href="#"><%= render "devise/shared/links" %></a></p>
</div>