<div class="d-none col-sm-2  d-sm-block  col-md-3 col-lg-3 d-flex flex-column text-sm-end text-md-start  align-items-lg-start left_sidebar border-end ">
    <div>
        <i class="fa-brands fa-x-twitter" style="font-size:35px;"></i>
    </div>
    <div class="d-flex align-items-center justify-content-sm-end justify-content-md-start left-sidebar-hover">
        <span><i class="fa-solid fa-house fs-5 py-3"></i></span>
        <p class="d-none d-md-block fs-4 pt-3 ps-2 fw-bold">
            <%= link_to "Home", root_path, class: "link-decoration" %>
        </p>
    </div>
    <div class="d-flex align-items-center d-block d-md-none  justify-content-sm-end justify-content-md-start justify-content-sm-end justify-content-md-start">
        <span><i class="fa-solid fa-magnifying-glass fs-5 py-3 "></i></span>
    </div>
    <div class="d-flex align-items-center  justify-content-sm-end justify-content-md-start left-sidebar-hover">
        <span><i class="fa-solid fa-hashtag fs-5 py-3 d-none d-md-block"></i></span>
        <p class="d-none d-md-block fs-4 pt-3 ps-2">Expolore</p>
    </div>
    <div class="d-flex align-items-center  justify-content-sm-end justify-content-md-start left-sidebar-hover">
        <span><i class="fa-solid fa-bell fs-5 py-3"></i></span>
        <p class="d-none d-md-block fs-4 pt-3 ps-2">Notifications</p>
    </div>
    <div class="d-flex align-items-center  justify-content-sm-end justify-content-md-start left-sidebar-hover">
        <span><i class="fa-solid fa-envelope fs-5 py-3"></i></span>
        <p class="d-none d-md-block fs-4 pt-3 ps-2">Messages</p>
    </div>
    <div class="d-flex align-items-center  justify-content-sm-end justify-content-md-start left-sidebar-hover">
        <span><i class="fa-solid fa-bookmark fs-5 py-3"></i></span>
        <p class="d-none d-md-block fs-4 pt-3 ps-2">Bookmark</p>
    </div>
    <div class="d-flex align-items-center  justify-content-sm-end justify-content-md-start left-sidebar-hover">
        <span><i class="fa-solid fa-file-lines fs-5 py-3"></i></span>
        <p class="d-none d-md-block fs-4 pt-3 ps-2">List</p>
    </div>
    <div class="d-flex align-items-center  justify-content-sm-end justify-content-md-start left-sidebar-hover">
        <span><i class="fa-solid fa-user fs-5 py-3"></i></span>
        <p class="d-none d-md-block fs-4 pt-3 ps-2">
            <%= link_to "profile", profile_index_path, class: "link-decoration" %>
        </p>
    </div>
    <div class="d-flex align-items-center  justify-content-sm-end justify-content-md-start left-sidebar-hover">
        <span><i class="fa-solid fa-ellipsis fs-5 py-3"></i></span>
        <p class="d-none d-md-block fs-4 pt-3 ps-2">More</p>
    </div>
    <div class="d-flex align-items-center  justify-content-sm-end justify-content-md-start">
        <button type="button" class="btn btn-primary px-5" data-bs-toggle="modal" data-bs-target="#new_PostModal">
            <%= link_to "Post", new_post_path, data: { turbo_stream: true }, style: "color:white;text-decoration:none" %>
        </button>
    </div>

    <div class= "logout mt-5 p-2 border border-4 text-start rounded-pill ">
        <% if current_user.profile&.avatar.present? %>
            <span><%= image_tag current_user.profile.avatar, style: 'height:50px;width:50px;border-radius:50px' %></span>
            <span><%= current_user.profile.name.capitalize %><span>
        <% else %>
            <span><%= image_tag "flawer.jpg", style: 'height:50px;width:50px;border-radius:50px' %></span>
        <% end %>
        
        <% if user_signed_in? %>
            <span><%= link_to 'Sign out', destroy_user_session_path, data: { turbo_method: :delete }  %></span>
        <% else %>
            <%= link_to 'Sign in', new_user_session_path %>
        <% end %>
    </div>
</div>